* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-size: 30px;
}

.teachers {
    background-color: grey;
    font-size: 20px;
    color: white;
}

.pm {
    background-color: green;
    font-size: 20px;
    color: white;
}
